DATABASE_URL=postgresql://postgres:postgres@localhost:5432/qr_pay?schema=public
REDIS_URL=redis://localhost:6379

NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=
NOMBA_PARENT_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=
NOMBA_WEBHOOK_SECRET=

API_KEY=
PORT=3001
